
/*--------------------------------------------------------------
  chancel用のCSS
--------------------------------------------------------------*/
#cancelpolicy{
  width: 50%;
  margin:auto;
}

#cancelpolicy h1{
  text-align: center;
}




#cancelpolicy .container{
  margin: 10% 0%;
}


#cancelpolicy .container > h2,p,ul{
  padding-left: 30px;
  line-height: 30px;
}


#cancelpolicy #bank-account{
  width: 35%;
  padding: 20px 0px;
  margin: 10px 0px;
  margin-left: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


#cancelpolicy .bank-data li:nth-child(6){
  margin-bottom: 20px;
  width: 35%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
