
#rental{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


#rental > ul{
  display: flex;
  justify-content: space-around;
  margin: 2% 20%;

}



#rental img{
  width: 311.33px;
  height: 383px;
  margin-right: 29.67px;
  margin-bottom: 25px;
}


#rental li{
  align-items: center;
  flex-direction: column;
}


.rental_photo li:last-child {
  margin-right: 0px;
}

/*TOPにて定義の予定
#rental > h2{
  font-size: 25px;
  margin-bottom: 39px;
}


#rental > h3{
  font-size: 18px;
  margin-bottom: 112px;
}


/*--------------------------------------------------------------
  Portfolio
--------------------------------------------------------------*/
/* Portfolio filter */
.filter {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 0 70px;
}

.filter > li {
  display: inline-block;
  padding: 0 0 10px;
  margin: 0 25px;
}

/* Portfolio grid */
.works-grid {
  list-style: none;
  padding: 0;
  margin: 0;
}

.works-grid.works-grid-gut {
  margin: 0 0 0 -10px;
}

.works-grid.works-grid-gut .work-item {
  padding: 0 0 10px 10px;
}

.work-item {
  width: 50%;
  float: left;
  margin: 0;
  text-align: center;
}

.works-grid-3 .work-item {
  width: 33.3333%;
}

.container .works-grid-3 .work-item {
  width: 33.2%;
}

.works-grid-4 .work-item {
  width: 25%;
}

.works-grid-5 .work-item {
  width: 20%;
}

.work-item > a {
  position: relative;
  display: block;
  overflow: hidden;
}

.work-image {
  position: relative;
  overflow: hidden;
}

.work-image img {
  display: block;
  overflow: hidden;
  width: 100%;
}

.work-image:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.work-caption {
  width: 100%;
  padding: 0 20px;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-title {
  font-size: 14px;
  color: #fff;
  margin: 0 0 6px;

}

.work-descr {
  color: black;
  border:1px solid;
  width: 200px;
}

.work-item:hover .work-image:after {
  background: rgba(0, 0, 0, 0.6);
}

.work-item:hover .work-image > img {
  -webkit-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
}

.work-item:hover .work-caption {
  bottom: 50%;
  opacity: 1;
  z-index: 3;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

/* Work item white background*/
.works-grid.works-hover-w .work-title {
  color: #111;
}

.works-grid.works-hover-w .work-item:hover .work-image:after {
  background: rgba(255, 255, 255, 0.8);
}

/* Work item gradien background*/
.works-grid.works-hover-g .work-image:after {
  opacity: 0;
}

.works-grid.works-hover-g .work-descr {
  color: #fff;
}

.works-grid.works-hover-g .work-item:hover .work-image:after {
  background: #6fe29e;
  background: linear-gradient(135deg, rgba(111, 226, 158, 0.8) 0%, rgba(91, 218, 209, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fe29e', endColorstr='#5bdad1',GradientType=1 );
  opacity: 1;
}

.sliding-portfolio .work-item {
  width: 100%;
}

/*--------------------------------------------------------------
  Single Portfolio
--------------------------------------------------------------*/
.work-details {
  margin: 0 0 20px;
}

.work-details-title {
  color: #111;
  margin: 0 0 20px;
}

.work-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.work-details ul > li {
  border-bottom: 1px dotted #c2c2c2;
  padding: 0 0 5px;
  margin: 0 0 5px;
}




/*ここからarchive*/
#blog_archive{
  display: flex;
  flex-direction: column;
  align-items: center;
}



#blog_archive .container{
  display: flex;
  justify-content: center;
}


#blog_archive .forfix{
  width:1122px;
  height: 259px;
  display: flex;
  align-items: center;
}


#blog_archive .forfix img{
  width: 429px;
  height: 259px;
  margin-right: 2%;
}


#blog_archive .article_fix{
  width: 694px;

}


#blog_archive .forfix h2{
  font-size: 18px;
  margin-bottom:12px;
}


#blog_archive .forfix h3,p{
  font-size: 15px;
}


#blog_archive .article{
  margin-bottom: 25px;
  word-break: break-all;
}


#blog_archive button{
  
  width: 172px;
  height: 34px;
  box-sizing: border-box;
  border-style: solid;
  margin-top:90px;

}


 










/*ブログ用の下書き*/
.curriculum {
  margin-top: 50px;
}

.sub-title {
  text-align: center;
  font-size: 36px;
}

.img-box {
  margin-top: 50px;
  display: flex;
}

.img-box li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .img-box li:last-child {
  margin-right: 0;
} */

.img-box li img {
  height: 300px;
  width: 300px;
}

.img-box li span {
  font-size: 24px;
  margin-top: 20px;
}