h1{
  text-align: center;
  font-size: 25px;
}

p{
  text-align: center;
  font-size: 18px;
}
img{
  height: 381px;
  width: 632.33px;
  margin-top: 5px;
}

.office{
  display: flex;
  flex-direction: column;
}

