.post {
	margin: 0 0 80px;
}

.post-title {
	line-height: 1.4;
	font-size: 22px;
	color: #111;
	margin: 0;
}

.post-header {
	margin: 0 0 15px;
}

.post-meta {
	font-size: 11px;
	color: #aaa;
}

.post-entry {
	border-top: 1px dotted #c2c2c2;
	padding-top: 20px;
	margin-top: 10px;
}

.post-images-slider {
	position: relative;
}

.post-images-slider .flex-control-nav {
	bottom: 0;
}

.post-thumbnail,
.post-images-slider,
.post-video {
	margin: 0 0 20px;
}

.post-quote {
	background: #f5f5f5;
	text-align: center;
	padding: 20px;
}

/* Post columns */

.post-columns .post {
	margin: 0 0 60px;
}

.post-columns .post-header {
	margin: 0 0 10px;
}

.post-columns .post-title {
	line-height: 1.8;
	font-size: 14px;
}

.post-columns .post-entry {
	padding: 10px 0 0;
	margin: 0 0 10px;
}

.post-columns.wo-border .post-entry {
	border: 0;
	padding: 0;
}

.post-columns .post-entry p:last-child {
	margin: 0;
}

.more-link:after {
	content: "\00BB";
	color: #666666;
	padding-left: 5px;
}

.pagination a {
	border: 1px solid #eaeaea;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	color: #999;
	padding: 4px 12px;
}

.pagination a.active {
	border-color: #CACACA;
}

.kiji {
  font-size: 1em;
  margin: 0;
  padding: 0 25px 25px;
}
 
.kiji-info .cat-data a {
  text-decoration: none;
  color: #fff;
}
 
.kiji-info .cat-data a:hover {
  opacity: .8;
}
 
.kiji-img {
  max-width: 640px;
  margin: 30px auto;
  text-align: center;
}
 
 
/*タグ*/
 
.kiji-tag {
  text-align: right;／あ
}
 
.kiji-tag ul {
  list-style: none;
}
 
.kiji-tag li {
  display: inline-block;
  color: #464646;
}
 
.kiji-tag li a {
  font-size: .8em;
  margin-right: 7px;
  padding: 2px 7px;
  text-decoration: none;
  color: #464646;
  border: solid 1px #464646;
  border-radius: 2px;
}
 
.kiji-tag li a:hover {
  opacity: .8;
}
 
.kiji p {
  margin-top: 0;
  margin-bottom: 30px;
}
 
.kiji h1 {
  font-size: 1.7em;
  margin: .3em 0;
}
 
.kiji h2 {
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  padding: .4em 0;
  border-bottom: solid 5px #464646;
}
 
.kiji h3 {
  font-size: 1.35em;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  padding: 0 .5em;
  border-left: solid 5px #777777;
  background: transparent;
}
 
.kiji h4 {
  font-size: 1.2em;
  margin: 0 0 .3em;
}
 
.kiji h5 {
  font-size: 1.1em;
  margin: 0 0 .3em;
}















