footer {
	padding: 10px 0;
	margin-top: 20px;

	.copyright {
		margin: 0;
	}

	.footer-social-links {
		text-align: right;

		a {
			display: inline-block;
			padding: 0 6px;
		}
	}

    .footer-left {
        text-align: left;
	}
	
	.footer-right {
		text-align: right;
	}
}