footer {
	padding: 10px 0;
	margin-top: 100px;
	@include media(m) {
		font-size: 9px;
	}

	.copyright {
		margin: 0;
	}

	.footer-social-links {
		text-align: right;

		a {
			display: inline-block;
			padding: 0 6px;
		}
	}

    .footer-left {
		text-align: left;
		@include media(m) {
			text-align: center;
		}
	}
	
	.footer-right {
		text-align: right;
		@include media(m) {
			display: flex;
			justify-content: space-around;
		}
	}
}