.meeting-room {
  padding-top:  150px;
  @include media(m) {
    padding-top:  50px;
  }
  h1{
    text-align: center;
    font-size: 25px;
    @include media(m) {
      font-size: 18px;
    }
  }
  h2{
    text-align: center;
    font-size: 18px;
    @include media(m) {
      font-size: 16px;
    }
  }
  
  img{
    height: 381px;
    max-width: 632.33px;
    margin-top: 50px;
    @include media(l) {
      width: 442px;
      height: 266px;
    }
    @include media(m) {
      width: 100%;
      height: auto;
    }
  }
  
  .it-room{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    @include media(m) {
      flex-direction: column;
      align-items: center;
      margin: 0 5%;
      &:nth-child(even) {
        flex-direction: column-reverse;
      }
    }
  }
  
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
    &:nth-child(even) {
      margin-right: 0;
      margin-left: 100px;
    }
    @include media(m) {
      align-self: flex-start;
      margin-left: 1%;
      margin-right: 0;
      &:nth-child(even) {
        margin-left: 0;
      }
    }
  }
 
   .it {
    margin-bottom: 20px;
    font-size: 25px;
    @include media(l) {
      margin-bottom: 10px;
      font-size: 20px;
    }
    @include media(m) {
      margin-bottom: 0;
      font-size: 18px;
      font-weight: bold;
    }
  }

  p {
    margin: 10px 0;
    font-size: 18px;
    @include media(l) {
      margin: 7px 0;
      font-size: 16px;
    }
    @include media(m) {
      margin: 0;
      font-size: 14px;
      padding: 5px 0;
    }
  }
  
 
}
