.single {
    padding: 50px 10% 0;
    .post-thumbnail {
        overflow: hidden;
        width: 100%;
        max-height: 630px;
        text-align: center;
    }
    @include media(m) {
        padding: 20px 5%;
        .post-thumbnail {
            overflow: hidden;
            width: 100%;
            max-height: 630px;
        }
    }
}