.equipment {
    h2 {
        margin-top: 140px;

    }
}

.studio {
    .row {
        display: flex;
        align-items: center;
    }

    tr {
        border-bottom: 2px solid #ddd;
        padding-bottom: 3px;
        margin-bottom: 3px;
    }
}