.slider{
  width: 100vw;
  height: 100vh;
  background-image: url(img/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*.slide{
  background-image: url(img/img1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}*/



